/* Содержимое страницы */
body {
    width: 100%;
    /*background-image: url(~../img/background.jpg);*/
    background-color: #686868;
    background-size: 100%;
}

/* Шапка с вкладками*/
.header {
    background-color: #1A1A1B;
    height: 50px;
    position: absolute;
    width: 100%;
}

/* Панель с вкладками */
#tab-pane {
    padding: 15px 0;
    font-size: 15px;
    font-color: #FFFFFF;
    text-align: center;
}

/* Стиль заголовка вкладки */
.tab {
    padding: 11px 10px 15px 10px;
    color: #FFFFFF;
}

/* Действие при наведении мыши на имя вкладки */
.tab:hover {
    text-decoration: none;
}

/* Центральная часть страницы */
.middle {
    width: 100%;
    position: absolute;
    top: 120px;
    bottom: 125px;
    overflow: auto;
}

/* Низ страницы */
.footer {
    padding-top: 2em;
    text-align: center;
    background-color: #333;
    color: white;
    padding-bottom: 2em;
    position: absolute;
    bottom: 0;
    width: 100%
}

/* Стиль заголовков любых таблиц */
th {
    padding: 10px;
    background-color: #E4E4E4;
}

/* Стиль для строк любых таблиц*/
tr {
    padding: 8px;
}

/* Стиль для столбцов любых таблиц*/
td {
    padding: 8px;
}

#repeatSelect {
    text-align: center;
    font-size: 14pt;
    width: 100%;
    background-color: #5F5F62;
    border: 0;
    border-bottom: 1px solid #7C7C80;
    height: 30px;
    color: #D6CDCD;
}

#repeatSelect:hover {
    box-shadow: 0 0 5px #ffffff;
}