<div class="search-box">
    <div class="container">
        <div id="search">
            <input ng-change="refresh()"
                   ng-model="searchStr"
                   placeholder="Наименование сотрудника или организации"
                   id="search-input" type="text"/>
            <button ng-click="refresh()" id="search-button"></button>
        </div>
    </div>
</div>

<div class="middle">
    <div class="list-box">
        <div>
            <table id="table" border="1">
                <tr>
                    <th>Идентификатор сотрудника</th>
                    <th>Наименование сотрудника</th>
                    <th>Идентификатор руководителя</th>
                    <th>Наименование руководителя</th>
                    <th>Идентификатор организации</th>
                    <th>Наименование организации</th>
                </tr>

                <!-- $scope.employees -->
                <tr ng-repeat="employee in employees">
                    <td ng-bind="employee.id"></td>
                    <td ng-bind="employee.name"></td>
                    <td ng-bind="employee.idDirector"></td>
                    <td ng-bind="employee.nameDirector"></td>
                    <td ng-bind="employee.idOrganization"></td>
                    <td ng-bind="employee.nameOrganization"></td>
                    <td >
                        <div >
                            <a href="#!/employee/update"
                               class="edit-button button"
                               data-title="Редактировать"
                               ng-click="editEmployee(employee)">
                                <img width="20" height="20" src="./dist/img/edit.png" alt="Радактировать"/>
                            </a>
                        </div>
                    </td>
                    <td>
                        <a class="delete-button button"
                           data-title="Удалить"
                           ng-click="deleteEmployee(employee)">
                            <img width="20" height="20" src="./dist/img/delete.png" alt="Удалить"/>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="paging-box">
    <div id="pages-bar">
        <div>
            <table id="paging-table">
                <tr>
                    <td>
                        <a class="add-button addEmp" href="#!/employee/create" >Добавить сотрудника</a>
                    </td>
                    <td class="aPages">
                        <nav>
                            <a class="aPage" ng-click="changeNumPage(1)" ng-show="curPage != 1"> Первая</a>
                            <a class="aPage" ng-click="changeNumPage(curPage == 1 ? 1 : curPage-1)" ng-show="curPage != 1">Предыдущая</a>
                        </nav>
                    </td>
                    <td id="button-number-page">
                        <a ng-repeat="i in pages"
                           ng-click="changeNumPage(i)"
                           class="{{i == curPage ? 'aPage aButton aButtonEnter' : 'aPage aButton'}}"
                           ng-bind="i"> </a>
                    </td>
                    <td class="aPages">
                        <nav>
                            <a class="aPage" ng-click="changeNumPage(curPage == countPages ? countPages : curPage+1)" ng-show="curPage != countPages && countPages != 0">Следующая</a>
                            <a class="aPage" ng-click="changeNumPage(countPages)" ng-show="curPage != countPages && countPages != 0">Последняя</a>
                        </nav>
                    </td>
                    <td align="right">
                        <div>
                            <span class="simpleText">Элементов на странице:</span>
                            <select name="mySelect" id="select-count-pages"
                                    ng-options="option for option in [5, 10, 15, 20, 50, 100]"
                                    ng-model="limit"
                                    ng-change="refresh()">
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>